<html>
<head>
  <meta charset="UTF-8">
  <title>Ebooks</title>
</head>
<body>
  <a href="http://1freebies.s3.amazonaws.com/ebooks/Pride_and_Prejudice.pdf" target="_blank">Pride and Prejudice</a>
  <a href="http://1freebies.s3.amazonaws.com/ebooks/The_Importance_of_Being_Earnest.epub" target="_blank">The Importance of Being Earnest</a>
</body>
</html>
