<!DOCTYPE html>
<html>

<head>
    <title>Freebies Hub</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<h1>Mike Wuz Here!</h1>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    <$ if (user) { $>
                        <li class="Login"><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
                        <$ } else { $>
                            <li class="Login"><a href="/auth/google">Login</a></li>
                            <$ } $>
                </ul>
            </div>
        </nav>
    </div>
    <h1> hello git again </h1>
    <div id="header">
        <img id=Cover src="images/freeCover.jpeg" alt="freeCover">
        <!-- <div id="Login">log in </div> -->
        <div id="title"> Freebies Hub </div>
        <div id="subtitle"> Nothing is too good to be true </div>
        <div id="signup_button"> Sign Up </div>
    </div>
    <div id="search">
        <div id="freeEvent">Search for free event
        </div>
        <div id="moreFree">
        </div>
        <div class="download" id="ibooks">
        </div>
        <div class="download" id="samples">
        </div>
        <div class="download" id="coupons">
        </div>



        <h1> hello git </h1>


  <!-- jQuery (required by Materialize) -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Using Underscore for collection manipulation and client-side templatin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="javascripts/app.js"></script>

</body>
</html>
