<!DOCTYPE html>
<html>
<head>
    <title>Freebies Hub</title>
    <link rel="stylesheet" href="stylesheets/index.css">
  <!-- Bootstrap framework -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Lalezar font -->
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <!-- Shrikhand font -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
<body>
    <!-- navbar for login -->
    <div class="Login">
      <$ if (user) { $>
      <a href="/logout">Logout</a> / <a href="/profile">Profile</a>
  </div>
  <div class="Login">
      <$ } else { $>
      <a href="/auth/google">Login</a> / <a href="/auth/google">Register</a>
      <$ } $>
  </div>
    <!-- header for cover page -->
    <header>
      <div class="container">
          <h1 id="title"> Freebies Hub </h1>
          <h1 id="subtitle"> Nothing is too good to be true </h1>
          <!-- <h1 id="signup_button">
              <a href="/auth/google">Sign Up</a>
          </h1> -->
      </div>
    </header>
    <!-- free event search -->
    <div id="search">
        <div id="freeEvent">
            <input type="text" id="location" placeholder=" zip code -OR- city, state">
            <!-- <input type="number" id="radius" placeholder="radius (mi)"> -->
            <input placeholder="start date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date1">
            <input placeholder="end date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date2">
            <input type="text" id="keywords" placeholder=" keywords">
            <button id="submit">Submit</button>
        </div>
    </div>
    <div id="results"></div>
    <!-- find free event near your location -->
    <!-- <div id="moreFree">
      <h1 id="moreFreeText">find free event </h1>
    </div> -->

    <div id="downloads">
      <div class="download" id="ibooks">ebooks</div>
      <div class="download" id="trials">free trials</div>
    <div class="download" id="coupons">coupons</div>
        <a href="http://1freebies.s3.amazonaws.com/coupons/Coupon 04.pdf" target="_blank">coupons</a>
    </div>
    <div id="lists">
    <div id="ibooklistcontainer">
    <div id="ibookslist">
      <ul>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/Pride_and_Prejudice.epub">Pride and Prejudice</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/The_Importance_of_Being_Earnest.epub">The Importance of Being Earnest</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/The_Secret_Garden.epub">The Secret Garden</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/Moby_Dick.epub">Moby Dick</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/The_Adventures_of_Tom_Sawyer.epub">The Adventures of Tom Sawyer</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/Alices_Adventures_in_Wonderland.epub">Alice's Adventures in Wonderland</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/Metamorphosis.epub">Metamorphosis</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/Les_Miserables.epub">Les Miserables</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/ebooks/The_Memoirs_of_Sherlock_Holmes.epub">The Memoirs of Sherlock Holmes</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="trialslistcontainer">
    <div id="trialslist">
      <ul>
        <li>
          <a href="http://www.adobe.com/downloads.html" target="_blank">Adobe Products</a>
        </li>
        <li>
          <a href="http://us.norton.com/downloads" target="_blank">Norton Security</a>
        </li>
        <li>
          <a href="http://usa.kaspersky.com/free-virus-scan" target="_blank">Kaspersky Free Virus Scan</a>
        </li>
        <li>
          <a href="https://products.office.com/en-us/try" target="_blank">Office 365</a>
        </li>
        <li>
          <a href="https://www.spotify.com/us/premium/" target="_blank">Spotify</a>
        </li>
        <li>
          <a href="https://www.amazon.com/dp/B00DBYBNEE?_encoding=UTF8&*Version*=1&*entries*=0" target="_blank">Amazon Prime</a>
        </li>
        <li>
          <a href="https://www.netflix.com/getstarted" target="_blank">Netflix</a>
        </li>
      </ul>
    </div>
  </div>
    <div id="couponslist">
      <ul>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/coupons/Coupon 04.pdf" target="_blank">Coupons</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/coupons/Coupon 04.pdf" target="_blank">More Coupons</a>
        </li>
        <li>
          <a href="http://1freebies.s3.amazonaws.com/coupons/Coupon 04.pdf" target="_blank">Even More Coupons</a>
        </li>
    </div>
  </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- Using Underscore for collection manipulation and client-side templatin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/app.js"></script>

</body>

</html>
