<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
</head>

<body>
  <div id="headerWrap">
  <h1><a class="link link--yaku" href="#"> <span>H</span><span>E</span><span>L</span><span>L</span>
  <span>O</span><$= user.name $></h1>
  <h1 id="home"><a href="/">home</a><h1>
  </div>

  <div class="grid__item">
      <a class="link link--Saved" href="#"> Saved events <span> free = awesome </span></a>
    <!-- HTML Template -->
    <ul id="eventList"></ul>
  </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Underscorejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="javascripts/profile.js"></script>
</body>

</html>
