
<html>
<head>
  <meta charset="UTF-8">
  <title>Free Trials</title>
</head>
<body>
    <h1>Free Trials</h1>
    <ul>
      <li>
        <a href="http://www.adobe.com/downloads.html">Adobe Products</a>
      </li>
      <li>
        <a href="http://us.norton.com/downloads">Norton Security</a>
      </li>
      <li>
        <a href="http://usa.kaspersky.com/free-virus-scan">Kaspersky Free Virus Scan</a>
      </li>
      <li>
        <a href="https://products.office.com/en-us/try">Office 365</a>
      </li>
      <li>
        <a href="https://www.spotify.com/us/premium/">Spotify</a>
      </li>
      <li>
        <a href="https://www.amazon.com/dp/B00DBYBNEE?_encoding=UTF8&*Version*=1&*entries*=0">Amazon Prime</a>
      </li>
      <li>
        <a href="https://www.netflix.com/getstarted">Netflix</a>
      </li>
    </ul>
</body>
</html>
