header {
  height: 560px;
  background: url('../images/freeCover.jpeg')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
/*login on the navbar*/
.Login{
  background-color: black;
  float: right;
  padding: 20px;
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  z-index: 1;
}
/*image below the event search bar*/
#moreFree{
  height: 450px;
  background: url('../images/events.png')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Lalezar', cursive;
}
/*Find free event near your locaiton*/
#moreFreeText{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;

}

#container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

/*freebies hub title*/
#title{
  font-family: HanziPenSC-W3;
  font-size: 75px;
  color: white;
  text-align: center;
  z-index: 1;
  clear: both;
}
/*Nothing is too good to be true*/
#subtitle {
  font-family: 'Courier New';
  font-size: 15px;
  color: white;
}
/*signup button in the header*/
#signup_button {
  border-radius: 40px;
  /* Rectangle 3 Copy: */
  background: rgba(73, 143, 225, 0.85);
  border-radius: 20px;
  font-family: 'Lalezar', cursive;
  font-size: 22px;
  height: 40px;
  width: 135px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  color: #FFFFFF;
  position: relative;;

}

#results{
  border-radius: 20px;
  margin: 10px;
  background: rgba(73, 143, 225, 0.85);
  opacity: .9;
}

#th-Date, #th-Time, #th-Event{
  font-family: 'Courier New';
  padding: 1%;
  color: white;
  font-size: 20px;
}

#td-URL{
  color: white;
  padding: 1%;
  width: 70%
}
#td-Date{
  color: white;
  padding: 1%;
  width: 15%;
}

#td-Time{
  color: white;
  padding: 1%;
  width: 15%;
}

#search-h2{
  font-family: 'Lalezar', cursive;
  text-align: center;
  color: white;
}
.event-button{
      background-color: white;
      border: none;
      color: rgba(73, 143, 225, 0.85) ;
      padding: 12px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 6px 2px;
      cursor: pointer;
      border-radius: 20px;
      font-family: 'Raleway', sans-serif;
  }

  #downloads {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  #ibooks, #coupons, #trials {
    display: block;
    border-radius: 10px;
    float: left;
    height:200px;
    margin-right: 1%;
    margin-top: 2%;
    font-family: 'Lalezar', cursive;
    font-size:50px;
    color: white;
    text-align:center;
    line-height: 180px;
  }

/*more freebies icons*/
#ibooks {
  background-image: url("../images/ibooks.jpeg");
  background-size: cover;
  width: 33%;
}

#coupons {
  background-image: url("../images/coupons.jpeg");
  background-size: cover;
  width: 32%;
}

#trials {
  background-image: url("../images/apple-gear-looking-pretty.jpg");
  background-size: cover;
  width: 32%;
}

#lists {
  display: block;
  margin: 0 auto;
  width: 90%;
}

#ibooklistcontainer {
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  display: block;
  width: 33%;
}

#trialslistcontainer {
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  display: block;
  width: 32%;
}

/*freebies list*/
#ibookslist, #trialslist, #couponslist {
  background-color: rgba(73, 143, 225, 0.85);
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  display: block;
  width: 31%;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  opacity: .8;
  padding: 1%;
}

#ibookslist {
  width: 100%;
  margin-top: 0%;
  border-radius: 10px;
}

#trialslist {
  width: 100%;
  margin-top: 0%;
  border-radius: 10px;
}


ul {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 20px;
}

a:link {
  color:white;
  text-decoration: none;
}

a:visited {
  color:white;
  text-decoration: none;
}

a:hover {
  color:white;
  text-decoration: none;
}

a:active {
  color:white;
  text-decoration: none;
}
#ibookslist a:link {
  color:white;
  text-decoration: none;
}

#ibookslist a:visited {
  color:white;
  text-decoration: none;
}

#ibookslist a:hover {
  color:white;
  text-decoration: none;
}

#ibookslist a:active {
  color:white;
  text-decoration: none;
}

#trialslist a:link {
  color:white;
  text-decoration: none;
}

#trialslist a:visited {
  color:white;
  text-decoration: none;
}

#trialslist a:hover {
  color:white;
  text-decoration: none;
}

#coupons a:active {
  color:white;
  text-decoration: none;
}
#coupons a:link {
  color:white;
  text-decoration: none;
}

#coupons a:visited {
  color:white;
  text-decoration: none;
}

#coupons a:hover {
  color:white;
  text-decoration: none;
}

#coupons a:active {
  color:white;
  text-decoration: none;
}

#search{
  height: 80px;
}
/*search boxes for free event*/
#freeEvent {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/*search bar for free events*/
#location, #radius, #date1, #date2, #keywords, #submit {
display: block;
border-radius: 10px;
float: left;
height: 50px;
margin-right: 1%;
margin-top: 2%;
margin-bottom: 1%;
font-family: 'Lalezar', cursive;
font-size: 15px;
border: 1px solid #CFCFC9;
color: grey;
text-align: center;
}
#location {
  width: 30%;
}
/*#radius {
  width: 10%;
}*/
#date1, #date2 {
width: 15%;
}
#keywords {
  width: 25%;
}
#submit {
width: 7%;
background-color: rgba(73, 143, 225, 0.85);
color: white;
}
