nav {
  background-color: black;
  opacity: .9;
  height: 8%;
}
header {
  height: 500px;
  background: url('../images/freeCover.jpeg')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
#container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

/*freebies hub*/
#title {
  font-family: HanziPenSC-W3;
  font-size: 65px;
  color: white;
  text-align: center;
  /*top: 20%;
  left: 38%;*/
  z-index: 1;
}

#subtitle {
  font-family: 'Courier New';
  font-size: 15px;
  color: white;
}

.Login {
  font-family: 'Courier New';
  font-size: 20px;
  color: #F7F3F2;
  letter-spacing: 0px;
  z-index: 1;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 20px;
  width: 60px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: 0 auto;
}
#signup_button {
  border-radius: 40px;
  /* Rectangle 3 Copy: */
  background: rgba(73, 143, 225, 0.85);
  border-radius: 20px;
  font-family: BritannicBold;
  font-size: 18px;
  height: 40px;
  width: 135px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 60%;
  left: 45%;
}
a:active {
  color: white;
}
a:visited {
  color: white;
}
#freeEvent {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#category, #location, #date, #submit {
display: block;
border-radius: 10px;
float: left;
height: 50px;
margin-right: 1%;
margin-top: 2%;
margin-bottom: 2%;
}
#category {
  margin-left: 1%;
  width: 23%;
}
#location {
  width: 24%;
}
#date {
width: 24%;
}
#submit {
width: 24%;
background-color: rgba(73, 143, 225, 0.85);
color: white;
}
