/* still working on it, it's for the slideshow
.mySlides {
  display:none;
}*/

header {
  height: 560px;
  background: url('../images/freeCover.jpeg')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
/*login on the navbar*/
.Login{
  background-color: black;
  float: right;
  padding: 20px;
}

h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
/*image below the event search bar*/
#moreFree{
  height: 400px;
  background: url('../images/events.png')
  no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
#container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

/*freebies hub title*/
#title{
  font-family: HanziPenSC-W3;
  font-size: 75px;
  color: white;
  text-align: center;
  z-index: 1;
  clear: both;
}
/*Nothing is too good to be true*/
#subtitle {
  font-family: 'Courier New';
  font-size: 15px;
  color: white;
}
/*signup button in the header*/
#signup_button {
  border-radius: 40px;
  /* Rectangle 3 Copy: */
  background: rgba(73, 143, 225, 0.85);
  border-radius: 20px;
  font-family: 'Lalezar', cursive;
  font-size: 22px;
  height: 40px;
  width: 135px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  color: #FFFFFF;
  position: relative;;

}

  #downloads {
    display: block;
    margin: 0 auto;
  }

  .download {
    display: inline-block;
    margin-top: 50px;
    font-family: BritannicBold;
    color: white;
    text-align:center;
    line-height:175px;
    width:25%;
    height:175px;
    font-size:50px;
  }


#ibooks {
  background-image: url("../images/ibooks.jpeg");
  background-size: cover;
}

#coupons {
  background-image: url("../images/coupons.jpeg");
  background-size: cover;
}

#trials {
  background-image: url("../images/apple-gear-looking-pretty.jpg");
  background-size: cover;
}

a:active {
  color: white;
}
a:visited {
  color: white;
}

#search{
  height: 80px;
}

/*search boxes for free event*/
#freeEvent {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/*search bar for free events*/
#location, #radius, #date1, #date2, #keywords, #submit {
display: block;
border-radius: 10px;
float: left;
height: 50px;
margin-right: 1%;
margin-top: 2%;
margin-bottom: 2%;
font-family: 'Lalezar', cursive;
font-size: 12px;
border: 1px solid #CFCFC9;
color: grey;
text-align: center;
}
#location {
  width: 25%;
}
#radius {
  width: 10%;
}
#date1, #date2 {
width: 15%;
}
#keywords {
  margin-left: 1%;
  width: 20%;
}
#submit {
width: 7%;
background-color: rgba(73, 143, 225, 0.85);
color: white;
}

#ibookslist, #trialslist {
  background-color: rgba(73, 143, 225, 0.85);
  float: left;
  height: 300px;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 20px;
}
